.customer_list{ 

    .filter_container{
        margin-top: 20px;
        display: inline-block;
        width: 100%;
    }
    select{
        width: 100%;
    }
    .filter_buttons{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    td:nth-child(7){
        text-align: right;
    }
    .custom-switch{
        *{
            cursor: pointer;

        }
    }
}