@media only screen and (max-width: 1200px)  {
    .navigation{
        left: -230px;
    }
    .navigation.open_menu{
        left: 0;
    }
}
@media only screen and (max-width: 1200px)  {
    .main_content{
        padding-left: 0 !important;
        >div{
            >div{
                width: 100%;
            }
        }
    }
}