@media only screen and (max-width: 1200px)  {
    .navigation{
        left: -230px;
    }
    .navigation.open_menu{
        left: 0;
    }
}
@media only screen and (max-width: 1200px)  {
    .main_content{
        padding-left: 0 !important;
        >div{
            >div{
                width: 100%;
            }
        }
    }
}

// LOGIN
@media only screen and (max-width: 700px)  {
    .login_wrapper{
        background-color: #fee600;
        .login_container{
            width: 100vw;
            height: auto;
            background-color: #fee600;
            box-shadow: none;
            border-radius: 0;
            >div{
                width: 100%;
                height: 100%;
                >div{
                    float: none;
                    height: auto;
                    width: 100%;
                    background-color: #fee600;
                }
                .logo_container{
                    width: 100%;
                }
                .form_container{
                    width: 100%;
                    padding-top: 0;
                }
            }
        }
    }
}