@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import 'auth/login';
@import 'layout/topbar';
@import 'layout/navigation';
@import 'layout/body';

body{
    background-color: #eee;
    *{
        font-family: 'Roboto', sans-serif;
        color: #696969;
    }

    .form_container{
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 3px 3px 8px #cecdcd57;
        margin-top: 25px;
        .form-inline{
            h2{
                font-size: 23px;
                font-weight: bold;
                margin-bottom: 0;
            }
            hr{
                margin-top: 10px;
            }
            .form-group{
               width: 600px;
               margin-bottom: 20px;
               label{
                   text-align: left;
                   justify-content: left;
               }
               input{
                   width: 100%;
               }
            }
        }
    }
} 
